body {
  color: #878787;
  font-family: helvetica, arial, sans serif;
  font-size: 1.3rem;
  font-size: 13px;
}

#wrapper {
  background: url(https://esc-files.appspot.com/files/mimefile/BanescoNuevo/pantalla-login-back.png)
    80px 80px no-repeat;
  width: 1086px;
  padding: 0 20px 20px;
  box-sizing: border-box;
  margin: auto;
}

.logo-banesco {
  position: relative;
  top: 25px;
  left: 103px;
}

#form-login {
  float: right;
  width: 414px;
  border: 1px solid #cccccc;
  /*para Firefox*/
  -moz-border-radius: 15px 15px 15px 15px;
  /*para Safari y Chrome*/
  -webkit-border-radius: 15px 15px 15px 15px;
  /* para Opera */
  border-radius: 15px 15px 15px 15px;
  padding: 15px;

  background-color: rgba(255, 255, 255, 0.5);
}

#form-login input[type="password"],
#form-login input[type="email"] {
  border: 1px solid #aaaaaa;
  padding: 10px;
  color: #878787;
  font-size: 13px;

  opacity: 1;
  filter: alpha(opacity=100);
}

#form-login span {
  display: block;
  padding: 0px;
  margin: 5px 0;
}

.button-iniciar,
.button-cancelar {
  /*para Firefox*/
  -moz-border-radius: 10px;
  /*para Safari y Chrome*/
  -webkit-border-radius: 10px;
  /* para Opera */
  border-radius: 10px;
  padding: 15px;

  border: none;
  color: white;
  font-size: 13px;
  cursor: pointer;
  margin: 10px 5px;
}

.button-iniciar {
  width: 136px;
  background-color: #007953;
  margin-left: 0px;
}

.button-cancelar {
  width: 106px;
  background-color: #bbbbbb;
}

.button-iniciar:hover {
  background-color: #003510;
}

.button-cancelar:hover {
  background-color: #777777;
}

.atencion {
  background: url(https://esc-files.appspot.com/files/mimefile/BanescoNuevo/pantalla-login-icono.png)
    no-repeat;
  padding: 4px 0 0 26px;
}

#logos {
  width: 100%;
  overflow: hidden;
  margin-bottom: 12px;
}

#logos p {
  float: left;
  position: relative;
  top: 20px;
}

#logos img {
  float: right;
}

#shadow {
  background-color: #dddddd;
  float: right;
  width: 393px;
  height: 10px;
  clear: both;
  margin-right: 20px;
  display: none;

  /*para Firefox*/
  -moz-border-radius: 0px 0px 15px 15px;
  /*para Safari y Chrome*/
  -webkit-border-radius: 0px 0px 15px 15px;
  /* para Opera */
  border-radius: 0px 0px 15px 15px;
  opacity: 0.3;
}

#banderas {
  text-align: center;
  margin-top: 50px;
  float: right;
}

.ping {
  position: relative;
  top: 183px;
  left: 33px;
  display: block;
  float: left;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-position: inside;
}

.error ul {
  color: #d83300;
  font-size: 11px;
}